.navbar{
    height: 50px;
    background: darkorange;
}

.product{
    display: flex;
}

.product > *{
    padding: 10px;
}

#bootsimage{
    height: 200px; 
    width: auto;
}

span{
    font-style: italic;
}

/* *{
    background: rgba(0,0,0,0.1);
} */